[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim
